{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
    
{% endblock%}

{% block content %}
    <head>
        <script src="{{ url_for('static', filename='js/formulario.js') }}"></script>

        <script src="{{ url_for('static', filename='js/submit_formulario.js') }}"></script>
    </head>
    <body>
        {% include 'pdf/topoa4.html' %}
        
        <br><br><br><br><br><br><br><br>
    </body>
    <footer>
        <form id="tabelaForm" onsubmit="handleSubmit(event)">

            <!-- nome do cliente -->
            <td style="width: 100px;">
                <div class="input-group input-group-sm" >
                    <span class="input-group-text">Nome</span>
                    <input type="text" name="nomeCliente" class="form-control" style="border-color: lightgray;" placeholder="Cliente">
                </div>
            </td>

            <table class="table-bordered table-responsive" id="tabelaProdutos">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Data de Venda</th>
                        <th scope="col">Produtos</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">P.Unitário</th>
                        <th scope="col">SubTotal</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for i in range(20) %}
                        <tr style="size: 8px;">
                            <!-- checkbox desativa calculadora -->
                            <td style="width: 10px;">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox{{i}}" checked oninput="resetarCheckbox('{{i}}')" style="text-align: center;">
                            </td>
                            <!-- data -->
                            <td style="width: 1px;">
                                <div class="input-group input-group-sm">
                                    <input type="date" name="data{{i}}" class="form-control">
                                </div>
                            </td>
                            <!-- nome do produto -->
                            <td style="width: 280px;">
                                <div class="input-group input-group-sm" >
                                    <input type="text" name="nomeProduto{{i}}" class="form-control" placeholder="Nome do Produto">
                                </div>
                            </td>
                            <!-- quantidade do produto    -->
                            <td  style="width: 5px;">
                                <div class="input-group input-group-sm">
                                    <input type="text" name="qtd{{i}}" id="qtd{{i}}" class="input-number form-control" placeholder="Qtd"
                                    oninput="this.value = this.value.replace(/[a-zA-Z]+/g, ''); teclaAcionada('{{i}}');">
                                </div>
                            </td>
                            <!-- preco do produto -->
                            <td  style="width: 100px;">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">R$</span>
                                    <input type="text" name="preco{{i}}" id="preco{{i}}" class="input-number form-control" placeholder="Preço"
                                    oninput="this.value = this.value.replace(/[a-zA-Z]+/g, ''); teclaAcionada('{{i}}');">
                                </div>
                            </td>
                            <!-- subtotal = produto * quantidade -->
                            <td style="width: 130px;">
                                <div class="input-group input-group-sm" id="subToDiv">
                                    <span class="input-group-text">R$</span>
                                    <input type="text" name="subTo{{i}}" class="form-control"  placeholder="0,00"  value=0.00 readonly
                                    oninput="this.value = this.value.replace(/[a-zA-Z]+/g, ''); teclaAcionada('{{i}}')" id="subTo{{i}}">
                                </div>
                            </td>  
                        </tr> 
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="total-cell" style="text-align: right;" >Total: </td>
                        <td colspan="2" class="total-cell" id="valorTotaltd">0,00</td>
                        <input name="valorTotal" type="hidden" id="valorTotal">
                    </tr>
                </tfoot>
            </table>

            <button type="submit" class="btn btn-success" value="Enviar">Imprimir</button>
        </form>
        

        <iframe id="notaPdf" src="{{ url_for('static', filename='nota.pdf') }}" style="display:none;"></iframe>
    </footer>
{% endblock %}