<style>
    .table-bordered {
        font-size: 12px; /* Tamanho da fonte para a tabela */
        border-color: lightgray;
        
        
    }

    .form-control {
        font-size: 8px; /* Tamanho da fonte para os inputs */
        size: 8px;
        border-color: white;
    }

    .total-cell {
        text-align: center; /* Centraliza o conteúdo */
        font-weight: bold; /* Deixa o texto em negrito */
        font-size: 25px; /* Tamanho da fonte para os inputs */
        
    } 

    .input-number::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
    .input-number {
        -moz-appearance: textfield;
    }

    th {
        text-align: center; /* Centraliza o conteúdo */
    }

</style>
<head>
    {% include 'pdf/topoa4.html' %}
</head>
<body>
    
    <br><br><br><br><br><br><br><br><br>
</body>
<footer>
    <form id="tabelaForm" method="POST" action="/">

        <!-- nome do cliente -->
        <td style="width: 100px;">
            <div class="input-group input-group-sm" >
                <span class="input-group-text">Nome</span>
                <input type="text" name="nomeCliente" class="form-control" style="border-color: lightgray;" placeholder="Cliente">
            </div>
        </td>

        <table class="table-bordered table-responsive" id="tabelaProdutos">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Data de Venda</th>
                    <th scope="col">Produtos</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">P.Unitário</th>
                    <th scope="col">SubTotal</th>
                </tr>
            </thead>
            
            <tbody>
                {% for i in range(20) %}
                    <tr style="size: 8px;">
                        <!-- checkbox desativa calculadora -->
                        <td style="width: 10px;">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox{{i}}" checked oninput="resetarCheckbox('{{i}}')" style="text-align: center;">
                        </td>
                        <!-- data -->
                        <td style="width: 1px;">
                            <div class="input-group input-group-sm">
                                <input type="date" name="data{{i}}" class="form-control">
                            </div>
                        </td>
                        <!-- nome do produto -->
                        <td style="width: 280px;">
                            <div class="input-group input-group-sm" >
                                <input type="text" name="nomeProduto{{i}}" class="form-control" placeholder="Nome do Produto">
                            </div>
                        </td>
                        <!-- quantidade do produto    -->
                        <td  style="width: 5px;">
                            <div class="input-group input-group-sm">
                                <input type="number" name="qtd{{i}}" oninput="teclaAcionada('{{i}}')" id="qtd{{i}}" class="input-number form-control" placeholder="Qtd">
                            </div>
                        </td>
                        <!-- preco do produto -->
                        <td  style="width: 100px;">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">R$</span>
                                <input type="text" name="preco{{i}}" oninput="this.value = this.value.replace(/[a-zA-Z]+/g, ''); teclaAcionada('{{i}}');" id="preco{{i}}" class="input-number form-control" placeholder="Preço">
                            </div>
                        </td>
                        <!-- subtotal = produto * quantidade -->
                        <td style="width: 130px;">
                            <div class="input-group input-group-sm" id="subToDiv">
                                <span class="input-group-text">R$</span>
                                <input type="text" name="subTo{{i}}" class="form-control" oninput="this.value = this.value.replace(/[a-zA-Z]+/g, ''); teclaAcionada('{{i}}')" id="subTo{{i}}" placeholder="0,00"  value=0.00 readonly>
                            </div>
                        </td>  
                    </tr> 
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="total-cell" style="text-align: right;" >Total: </td>
                    <td colspan="2" class="total-cell" id="valorTotaltd">0,00</td>
                    <input name="valorTotal" type="hidden" id="valorTotal">
                </tr>
            </tfoot>
        </table>

        <button type="button" onclick="enviarFormulario()" class="btn btn-success" value="Enviar">Success</button>
    </form>

    <iframe id="textfile" src="{{ url_for('static', filename='tabela_exemplo_6_itens.pdf') }}" style="display:none;"></iframe>

    <script src="{{ url_for('static', filename='js/formulario.js') }}"></script>
</footer>


<!-- <script>    
    function checarCheckbox(Id)  {
        const checkbox = document.getElementById(`checkbox${Id}`);
        const isChecked = checkbox.checked;

        return isChecked;
    }

    function formatarParaNumero(valor) {
        // Remove os pontos e substitui a vírgula por ponto
        var valor_formatado = parseFloat(valor.replace(/\./g, '').replace(',', '.'));
        return valor_formatado;
    }

    const resetarCheckbox = (Id) => {
        const isChecked = checarCheckbox(Id);
        var preco = parseFloat(document.getElementById(`preco${Id}`).value) || 0;

        var num = 0;

        if (!isChecked) {
            
            document.getElementById(`subTo${Id}`).readOnly = false;
        } else {
            precoAcionado(Id);
            document.getElementById(`subTo${Id}`).readOnly = true;
            if (preco){
                calcularSubTotal(Id);
            } else {
                document.getElementById(`subTo${Id}`).value = 0;
            }
            calcularTotal();
            
        }
    }


    const qtdAcionado = (Id) => {
        const isChecked = checarCheckbox(Id);
        var preco = parseFloat(document.getElementById(`preco${Id}`).value) || 0;

        if (isChecked) {
            var quantidade = parseInt(document.getElementById(`qtd${Id}`).value) || 0;

            if (quantidade != 0) {
                document.getElementById(`qtd${Id}`).value = quantidade;
            }

            if (preco) {
                calcularSubTotal(Id);
            }
        }

        
    }

    const precoAcionado = (Id) => {
        const isChecked = checarCheckbox(Id);
        var quantidade = parseInt(document.getElementById(`qtd${Id}`).value) || 0;
        var preco = parseFloat(document.getElementById(`preco${Id}`).value) || 0;

        if (isChecked) {
            if (preco) {
                if (!quantidade) {
                    var quantidade = 1;
        
                    document.getElementById(`qtd${Id}`).value = quantidade;
                }

                calcularSubTotal(Id);
            }
            
        }
        
    }

    const subTotAcionado = (Id) => {
        var subTo = parseFloat(document.getElementById(`subTo${Id}`).value) || 0;

        document.getElementById(`subTo${Id}`).value = subTo;


        calcularTotal();
    }



    const calcularSubTotal = (Id) => {
            // Obtém os valores de preço e quantidade
            var preco_nao_formatado = document.getElementById(`preco${Id}`).value;


            let preco = formatarParaNumero(preco_nao_formatado);

            var quantidade = parseInt(document.getElementById(`qtd${Id}`).value) || 0;


            // Calcula o total
            var total = preco * quantidade;

            // Exibe o total formatado como moeda
            var total = total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })

            document.getElementById(`subTo${Id}`).value = total;

            calcularTotal();
        
    }

    const calcularTotal = () => {
        var celulas = document.querySelectorAll('#subToDiv');
        var range = celulas.length;

        var total = parseFloat(0);
        for (let i = 0; i < range; i++) {
            var preco_nao_formatado = document.getElementById(`subTo${i}`).value;

            let preco = formatarParaNumero(preco_nao_formatado);
            
            
            if (!preco) {
                preco = 0;
            }
            
            var total = total + preco;
        };

        var total = total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        document.getElementById('valorTotaltd').innerHTML = total;
        document.getElementById('valorTotal').value = total;
    }
</script> -->

