<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Iframe</title>
</head>
<body>
    <iframe id="textfile" src="{{ url_for('static', filename='tabela_exemplo_6_itens.pdf') }}"></iframe>
    <button onclick="printIframe()">Print</button>
    <script type="text/javascript">
        function printIframe() {
            var iframe = document.getElementById('textfile');
            iframe.contentWindow.print();
        }
    </script>
</body>
</html>